<html>
    {{>header}}
    <body>
        {{navbar}}
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/Public/image/GIS3.jpg" alt="About Image">
      </div>
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>We are a company that specializes in creating awesome websites and web applications. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at ipsum non ligula laoreet pharetra sit amet a turpis. In vestibulum tortor non sapien tristique facilisis.</p>
        <ul>
          <li><i class="fas fa-check"></i> Expertise in web development</li>
          <li><i class="fas fa-check"></i> Proven track record of success</li>
          <li><i class="fas fa-check"></i> Customer satisfaction guaranteed</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{>footer}}
</body>
</html>
