<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, praesentium deleniti! Eum facilis vitae blanditiis dignissimos, temporibus repudiandae quas in perspiciatis labore omnis voluptates, alias quod. Laborum aspernatur, rem recusandae culpa autem illo.</p>
    {{>navbar}}
    {{>footer}}
</body>
</html>